.all-text {
  padding: 50px;
  height: 10vh;
  overflow-y: scroll;
  color: white;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  background-color: hsl(221, 82%, 51%);
}

/* .welcome { */
/* background-size: 300px 100px;
  background-size: cover; */
/* padding: 25px;
  background-repeat: no-repeat;
  background-size: auto; */
/* } */

.hero-text {
  color: rgb(7, 7, 7);
  font-size: xx-large;
  float: left;
  width: 33.33%;
  padding: 5px;
  /* background-color: hsl(221, 82%, 51%); */
}
.back-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
